<header>
    <nav>
        <h2>Tech Blog</h2>
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        </div>
    </nav>
</header>
<main>
    <section class="dashboard">
        <h1>Welcome John Doe</h1>
        <div class="btn-container">
            <button class="new-post-btn">New Post</button>
            <button>Delete Post</button>
        </div>
    </section>
</main>