<header>
    <nav>
        <h2>Tech Blog</h2>
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        </div>
    </nav>
</header>
<main>
    <section class="form-container">
        <form action="#">
            <div class="input-container">
                <label for="userName">Username</label>
                <input type="text" name="userName" id="userName" placeholder="username" class="username-input">
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="john_doe@example.com" class="email-input">
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="password-input">
            </div>
            <button class="login-btn signup-btn">Create Account</button>
        </form>
    </section>
</main>
<script src="../public/js/signup.js"></script>